*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-contain{
    background-image: url('img/banner.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-contain h1{
    font-weight: 600;
    font-size: 5rem;
    color: black;
    margin-bottom: 50px;
}

.header-contain p{
    font-size: 1.5rem;
    color: #11f5fd;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.btn-custom{
background-color: #F85606;
padding: 25px 40px;
border-radius: 10px;
border: none;
font-size: 1.5rem;
text-decoration: none;
text-transform: capitalize;
color: rgb(0, 0, 0);
margin-top: 30px;
transition: background-color 0.5s ease;
}

.btn-custom:hover{
    background-color: green;
    color: aliceblue;

}

.section-class{
    padding: 60px 0px;
}

.section-class h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
    color: #e40624;
}

.card-class{
    background-color:rgb(173, 164, 144);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 15px 15px rgb(115, 111, 111);
    transition: transform 0.5s ease;

    
}

.card-class h1{
    color: rgb(45, 21, 204);
    font-size: 50px;
}

.card-class p{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card-class:hover{
    transform: translateX(10px);
    
}

.review-customer{
    padding: 60px 0px;
    background-color: rgb(145, 243, 243);
    text-align: center;
}

.review-customer h2{
    color: #e40624;
    text-align: center;
    padding-bottom: 30px;
    font-size: 3rem;
    font-weight: 600;
}

.review-contain{
    background-color: rgb(141, 128, 143);
    padding: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 15px 10px 10px rgb(102, 105, 115);
    transition: transform 0.5s ease;

}

.review-contain p{
    font-size: 1.2rem;
    padding-top: 20px;
    text-transform: capitalize;
    color: aquamarine;
    font-style: italic;

}

.review-contain:hover{
    transform: translateY(10px);
}

.review-contain h5{
    font-size: 2rem;
    text-transform: capitalize;
    color: #e40624;
}
    
.review-contain img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.chackout-contain{
    padding: 60px 0px;
}

.chackout-contain h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.chackout-form{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: silver;
    box-shadow: 10px -4px 15px 10px gray;
}

.form-custom{
    padding: 15px 0px;
}

.bt-custom{
    text-decoration: none;
    width: 100%;
    background-color: #F85606;
    border: none;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    
}
.bt-custom:hover{
    background-color: green;
    color: aliceblue;
}

.icon-custom{
    text-decoration: none;
    color: #0765FE;
    font-size: 40px;
}

.icon-insta{
    color: #FD00AC;
    font-size: 40px;
}
 .youtube{
    color: #fe0033;
    font-size: 40px;
 }

 .x{
    color: black;
    font-size: 40px;
 }
 .img-t{
    border-radius: 50%;
 }

 .futer-item{
    background-color: rgb(168, 168, 168);
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
 }

 .icon-logo{
    margin-top: 20px;
 }

 .icon-logo a{
    margin-right: 20px;
    transition: color 0.5s ease;
 }

 .icon-logo a:hover{
    color: white;
 }
